*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7FC6A4;
    text-align: center;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 10vmin;
    font-weight: bold;
    color: rgb(66, 42, 204);
    background-color: #ffffc7;
}

.reset{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #848b84;
    border-radius: 5px;
    background-color: #111311;
    color: white;
    cursor: pointer;
}